
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap');


*{ /*RESETANDO CONFIG PADRÃO HTML/CSS*/ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
}

/*CONFIGURANDO HTML/BODY - FONTES*/
html, 
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
/*CONFIGURANDO LINKS NAVEGADOR */
a{
    text-decoration: none;
}

/*CONFIGURANDO HEADER*/

header{
    padding-top: 20px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin: auto;    
}

header nav ul{
    display: flex;
}

header nav ul li a{
    color: #222222;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 1.5rem;
    transition: all 250ms linear 0s;
}

nav a:hover{
    color: #fff;
}

header img{
    height: 50px;
}

#checkbox-menu{
    display: none;
}

p{
    padding: 5px;
}

nav{
    height: 80px;
    background-color: #F5DEB3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 15vw;
}

h2{
    margin-bottom: 68px;
    text-align: center;
    font-size: 2rem;
}



.nav-items{
    font-size: 1.5rem;
}

form{
    display: flex;
    align-self: center;
    height: 115vh;
    background-color: #222222;
    color: #fff;
    padding: 8vh 30vw;
}

input,
select,
textarea {
    width: 40vw;
    display: block;
    padding: 0.5rem 0.75rem;
    border-radius: 10px;
}

.container-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem 15vw;
 
}

.column-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #222222;
    padding: 0rem 2rem;

}

.column-left h1{
    margin-bottom: 1rem;
    font-size: 3rem;
}

.column-left p{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.column-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem 15vw;    
}

.side-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #222222;
    padding: 0rem 1rem;
}

.side-left h2{
    margin-bottom: 1rem;
    font-size: 3rem;
}

.side-left p { 
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.flavors-list{
    list-style-image: url(cookie.png);
    font-size: 1.5rem;
}

#home-image{
    width: 90%;
    height: 75%;
}

#form-button{
    margin-top: 30px;
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #222222;
    background-color: #F5DEB3;
    cursor: pointer;
    border-radius: 50px;
}

#form-button:hover{
    background: #fff;
    transition: 0.3s;
}

#CTA-button{
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #F5DEB3;
    background:#222222;
    cursor: pointer;
    border-radius: 50px;
    text-decoration: none;
}

#CTA-button:hover{
    background-color: #fff;
    color: #222222;
    transition: 0.3s;
}

#about-image{
    width: 90%;
    height: 75%;
}

#home{
    background-color: #F5DEB3;
}

#about{
    background-color: #F5DEB3;
}
